# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/

# Environment files
.env

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Local npm config
.npmrc
